<div class="full-page home ">
  <div
      class="book"
      :class="{'big-animate' : bigAnimate}"
  >

    <!--页面底页-->
    <div
        class="flip-page  page"
        :class="{'normal-exam' : bigAnimate }"
    >
      <div class="page-contain page2-front" v-if="bigAnimate"></div>
      <div class="page-contain page1-back"></div>
    </div>

    <!--页面一-->
    <div
        class="flip-page  page3 "
        :class="{'normal-exam' : bigAnimate}"
    >
      <div class="page-contain quiz-front page3-front  " v-if="bigAnimate">
        <div id="page3-content" @click.stop="(e)=>trigWrap(e,3)">
          <!--<img src="../../../static/img/gou.png" class="gou-sign gou3">-->
          <!--<div class="select select1"></div>-->
        </div>
      </div>
      <div class="page-contain page1-back"></div>
    </div>

    <!--页面二-->
    <div
        class="flip-page  page2"
        :class="{'normal-exam' : bigAnimate }"
    >
      <div class="page-contain quiz-front page2-front" v-if="bigAnimate">
        <div id="page2-content" @click.stop="(e)=>trigWrap(e,2)" >
          <!--<img src="../../../static/img/gou.png" class="gou-sign gou3">-->
          <!--<div class="select select1"></div>-->

        </div>
      </div>
      <div class="page-contain page1-back"></div>
    </div>


    <!--首页"-->
    <div
        class="flip-page  page1"
        :class="{'normal-page' : bigAnimate}"
    >
      <div class="page-contain page1-front">
        <div class="home-text">
          <div class="text text-1"></div>
          <div class="text text-2"></div>
          <div class="text text-3"></div>
          <div class="text text-4"></div>
          <input type="text" class="home-input" style="font-family: 'FZZJ'; font-size: 20px" placeholder="请输入你的名字">
          <div class="start-button" @click.stop="(e)=>trigWrap(e,1)"></div>
        </div>
      </div>
      <div class="page-contain page1-back"></div>
    </div>

    <div
        class="flip-page face-page"
        :class="{'wrapper-animate' : wrapperAnimate}"
    >
      <div class="page-contain page-contain"></div>
      <div class="page-contain face-back"></div>
    </div>


  </div>


</div>

