<div class="full-page home ">
  <div
      class="book"
      :class="{'big-animate' : bigAnimate}"
  >

    <div
        class="flip-page face-page"
        :class="{'wrapper-animate' : wrapperAnimate,'current-page': pageNum == 0}"
    >
      <div class="page-contain face-front"></div>
      <div class="page-contain face-back"></div>
    </div>


    <!--页面底页-->
    <div
        class="flip-page  page"
        :class="{'normal-page' : bigAnimate }"
    >
      <div class="page-contain page2-front" v-if="bigAnimate">
      </div>
      <div class="page-contain page1-back"></div>
    </div>

    <!--页面一-->
    <div
        class="flip-page  page3"
        :class="{'normal-page' : bigAnimate}"
        @click="trigWrap(3)"
    >
      <div class="page-contain page3-front" v-if="bigAnimate">
        <!--333333-->
      </div>
      <div class="page-contain page1-back"></div>
    </div>

    <!--页面二-->
    <div
        class="flip-page  page2"
        :class="{'normal-page' : bigAnimate }"
        @click="trigWrap(2)"
    >
      <div class="page-contain page2-front" v-if="bigAnimate">
        <!--22222222-->
      </div>
      <div class="page-contain page1-back"></div>
    </div>


    <!--首页"-->
    <div
        class="flip-page  page1"
        :class="{'normal-page' : bigAnimate, 'current-page': pageNum >= 1}"
    >
      <div class="page-contain page1-front">
        <div class="home-text">
          <div class="text text-1"></div>
          <div class="text text-2"></div>
          <div class="text text-3"></div>
          <div class="text text-4"></div>
          <input type="text" class="home-input" style="font-family: 'FZZJ'; font-size: 20px" placeholder="请输入你的名字">
          <div class="start-button" @click.stop="trigWrap(1)"></div>
        </div>
      </div>
      <div class="page-contain page1-back"></div>
    </div>

  </div>


</div>

