@import "../../styles/common.less";

.home {
  background: url("../../../static/img/home-bg.jpg") no-repeat;
  background-size: cover;
  .book {
    position: absolute;
    bottom: 1.6rem;
    left: 1rem;
    width: 2.5rem;
    height: 3.5rem;
    //animation: tada 1s linear infinite;
    background: url("../../../static/img/book.png") no-repeat;
    background-size: cover;
    transform: rotateZ(-7deg);
  }
  .first-page {
    position: absolute;
    bottom: 1.45rem;
    left: -1.5rem;
    width: 2.5rem;
    height: 3.4rem;
    //animation: tap 1s linear infinite;
    background: url("../../../static/img/first-converse.png") no-repeat;
    background-size: cover;
    transform: rotateZ(-7deg);
  }
}

@keyframes tada {
  0% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    display: none;
  }
  10%, 20% {
    transform: scale(1);
    -webkit-transform: scale(1);
    display: block;
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    display: none;
  }
  40%, 60%, 80% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    display: block;
  }
  100% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    display: none;
  }
}

@keyframes tap {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

