@import "../../styles/common.less";

.home {
  background: url("../../../static/img/home-bg.jpg") no-repeat;
  background-size: cover;
  .book {
    position: absolute;
    bottom: 1.6rem;
    left: 0.5rem;
    width: 2.5rem;
    height: 3.5rem;
    background: url("../../../static/img/book.png") no-repeat;
    background-size: cover;
    transform: rotateZ(-7deg) translateZ(0);
    transition: all ease-in-out 2s;
    backface-visibility: hidden;
  }
  .flip-page {
    position: absolute;
    width: 2.4rem;
    height: 3.4rem;
    transform-style: preserve-3d;
    transform-origin: 0 0 0;
    transition: all ease-in-out 2s;
    .page-contain {
      transform-origin: 0 100%;
      transform-style: preserve-3d;
    }
    backface-visibility: hidden;
    transform: translateZ(0);
    z-index: 9999;
  }
  .normal-page {
    width: 3.2rem;
    height: 4.75rem;
  }

  .current-page {
    z-index: 10000;
  }
  .wrapper-animate {
    transform:  rotateY(180deg);
    width: 3.5rem;
    height: 4.8rem;
  }

  .face-page {
    //z-index: 10000;
  }

  .big-animate {
    bottom: 0.5rem;
    left: 0.2rem;
    width: 3.5rem;
    height: 5rem;
    transform: rotateZ(0deg);
  }

  @keyframes wrapper {
    100% {
      transform:  rotateY(180deg);
    }
  }
  .page-contain {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    overflow: hidden;
  }
  .face-front {
    background: url("../../../static/img/firse-normal.png") no-repeat;
    background-size: cover;
  }
  .face-back {
    background: url("../../../static/img/first-converse.png") no-repeat;
    background-size: cover;
    transform: rotateY(0.1deg);
    transform-origin: 100% 0;
  }

  .page1-front {
    background: url("../../../static/img/page1-front.png") no-repeat;
    background-size: cover;
  }
  .page1-back {
    background: url("../../../static/img/page-back.png") no-repeat;
    background-size: cover;
    transform-origin: 100% 0;
    transform: rotateY(0.1deg);
  }
  .text {
    height: 0.25rem;
    margin-top: 0.15rem;
  }
  .text-1 {
    background: url("../../../static/img/text-1.png") no-repeat;
    background-size: cover;
    width: 1.58rem;
  }
  .text-2 {
    background: url("../../../static/img/text-2.png") no-repeat;
    background-size: cover;
    width: 2.28rem;
  }
  .text-3 {
    background: url("../../../static/img/text-3.png") no-repeat;
    background-size: cover;
    width: 2.28rem;
  }
  .text-4 {
    background: url("../../../static/img/text-4.png") no-repeat;
    background-size: cover;
    width: 2.28rem;
  }
  .home-text {
    overflow: hidden;
    position: relative;
    top: 0.5rem;
    left: 0.6rem;
    padding-top: 0.5rem;
    height: 0;
    width: 2.4rem;
    transition: height 8s linear;
  }

  .text-all-height {
    height: 3.2rem;
  }
  .home-input {
    background: #f7eac6;
    outline: none;
    border: 0;
    margin: 0.2rem 0.25rem 0;
    height: 0.3rem;
    width: 1.5rem;
    padding-left: 0.1rem;
  }
  .start-button {
    background: url("../../../static/img/start-button.png") no-repeat;
    background-size: contain;
    margin-top: 0.2rem;
    margin-left: 0.25rem;
    height: 0.9rem;
    width: 1.7rem;
  }
  ::-webkit-input-placeholder {
    //font-family: 'FZZJ';
    font-size: 20px;
  }
}
